@import "tailwindcss";

/* DEFINE THEME */
@theme {
  --color-primary: #6366f1;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #4f46e5;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/* LIGHT */
:root {
  --background: #fafafa;
  --foreground: #1f2937;

  --surface: #ffffff;
  --surface-muted: #f4f4f5;
  --surface-elevated: #ffffff;

  --border-subtle: #e4e4e7;
  --border-strong: #d4d4d8;
  
  --text-muted: #6b7280;

  --radius: 0.75rem;
}

/* DARK */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f10;
    --foreground: #e5e7eb;

    --surface: #161618;
    --surface-muted: #111113;
    --surface-elevated: #1c1c1f;

    --border-subtle: #27272a;
    --border-strong: #3f3f46;

    --text-muted: #9ca3af

    --radius: 0.75rem;
  }
}

/* BASE */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}